{{define "add-employee-header-inject"}}
<link rel="stylesheet" href="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/themes/silver/zino.core.css">
<link rel="stylesheet" href="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/themes/silver/zino.calendar.css">
<script src="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/zino.calendar.min.js"></script>
<script src="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/zino-1.5.custom.min.js"></script>

<script>
$(document).ready(function() {

    $("#hire_date").zinoCalendar({
	    months: 1
	});

	$("#btn_cancel").click(function() {
		window.location.replace("welcome");
	});


});
</script>
{{end}}
