{{template "header" .}}

{{template "add-employee-header-inject" .}}

{{template "header-end" .}}

<div style="margin-top: 10px; font-size: .8em;">
<a href="/">Home</a> | <a href="logout">Logout</a>
</div>

<h4 style="margin-top: 40px;">Add an employee:</h4>

<form id="frm_add" action="/add-employee" method="post">

    <table width="550" border="0" cellpadding="0" cellspacing="5">
        <tr>
            <td style="width: 100px;">
                First Name
            </td>
            <td>
                <input type="text" id="fname" name="fname" style="width: 200px;" placeholder="First Name" />
                <span id="msg_fname" class="msg"></span>
            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td>
                <input type="text" id="lname" name="lname" style="width: 200px;" placeholder="Last Name" />
                <span id="msg_lname" class="msg"></span>
            </td>
        </tr>
        <tr>
            <td>
                M.I.
            </td>
            <td>
                <input type="text" id="mi" name="mi" style="width: 25px;" placeholder="M.I." />
                <span id="msg_mi" class="msg"></span>
            </td>
        </tr>
        <tr>
            <td>
                Title
            </td>
            <td>
                <input type="text" id="title" name="title" style="width: 200px;" placeholder="Title" />
                <span id="msg_title" class="msg"></span>
            </td>
        </tr>
        <tr>
            <td>
                Dept
            </td>
            <td>
                <input type="text" id="dept" name="dept" style="width: 200px;" placeholder="Dept" />
                <span id="msg_dept" class="msg"></span>
            </td>
        </tr>
        <tr>
            <td>
                Team
            </td>
            <td>
                <input type="text" id="team" name="team" style="width: 200px;" placeholder="Team" />
                <span id="msg_team" class="msg"></span>
            </td>
        </tr>
        <tr>
            <td>
                Hire Date
            </td>
            <td>
                <input type="text" id="hire_date" name="hire_date" style="width: 150px;" placeholder="Hire Date" />
                <span id="msg_hire_date" class="msg"></span>
            </td>
        </tr>
        <tr>
            <td colspan="1" align="left">
                <div style="margin-top: 10px;">
                    <input type="button" id="btn_submit" name="btn_submit" value="SUBMIT" />
                </div>
            </td>
            <td colspan="1" align="left">
                <div style="margin-top: 10px; margin-left: 140px;">
                    <input type="button" id="btn_cancel" name="btn_cancel" value="Cancel" />
                </div>
            </td>
        </tr>
    </table>
</form>

{{template "footer" .}}
