{{template "header" .}}

<div style="margin-top: 10px; font-size: .8em;">
<a href="/">Home</a> | <a href="logout">Logout</a>
</div>

<h4 style="margin-top: 40px;">Add an employee:</h4>

<table width="350" border="0" cellpadding="0" cellspacing="5">
    <tr>
        <td style="width: 100px;">
            First Name
        </td>
        <td>
            <input type="text" id="fname" name="fname" style="width: 200px;" />
        </td>
    </tr>
    <tr>
        <td>
            Last Name
        </td>
        <td>
            <input type="text" id="lname" name="lname" style="width: 200px;" />
        </td>
    </tr>
    <tr>
        <td>
            M.I.
        </td>
        <td>
            <input type="text" id="mi" name="mi" style="width: 25px;" />
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            <input type="text" id="title" name="title" style="width: 200px;" />
        </td>
    </tr>
    <tr>
        <td>
            Department
        </td>
        <td>
            <input type="text" id="dept" name="dept" style="width: 200px;" />
        </td>
    </tr>
    <tr>
        <td>
            Team
        </td>
        <td>
            <input type="text" id="team" name="team" style="width: 200px;" />
        </td>
    </tr>
    <tr>
        <td>
            Hire Date
        </td>
        <td>
            <input type="text" id="hire_date" name="hire_date" style="width: 150px;" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="margin-top: 10px;">
                <input type="submit" id="btn_submit" name="btn_submit" value="Submit" />
            </div>
        </td>
    </tr>
</table>

{{template "footer" .}}
