{{define "header"}}
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta name="robots" content="noindex, nofollow">
<title>{{.Common.PageTitle}}</title>
<link rel="stylesheet" type="text/css" href="{{ .Common.StaticAssetUrlBase }}base.css" media="all">
<script src="{{ .Common.StaticAssetUrlBase }}jquery-3.2.1.min.js"></script>

<link rel="stylesheet" href="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/themes/silver/zino.core.css">
<link rel="stylesheet" href="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/themes/silver/zino.calendar.css">
<script src="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/zino.calendar.min.js"></script>
<script src="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/zino-1.5.custom.min.js"></script>

</head>
<body>
    {{if .Common.DisplayBranding}}
    <div style="border-bottom: 1px solid #bfbfbf;">
        <div style="font-size: 1.2em; font-weight: bold;">Nerdherdr</div>
        <div>Tools for Technical Managers</div>
    </div>
    {{end}}
{{end}}
