{{template "header" .}}
{{template "oneonones-header-inject" .}}
{{template "header-end" .}}
<!-- View-specific markup goes here -->
<h1>1:1s</h1>
<h1>Hi :)</h1>

<div class="break" style="height: 15px;"></div>

<!-- <div class="w2ui-field w2ui-span3"> -->
    <div id="emp_ddl_container">
    	Choose an employee: <br />
    	<input type="list" id="ddl_empl">
    	
    	<div class="break" style="height: 15px;"></div>
    	...or <a href="1on1s">cancel</a>
    </div>
<!-- </div> -->

<div class="break" style="height: 35px;"></div>
<div id="existing_list">
	Yo, here's the existing list div!
</div>

{{template "footer" .}}
