{{define "oneonones-header-inject"}}

<link rel="stylesheet" href="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/themes/silver/zino.combobox.css">
<script src="{{ .Common.StaticAssetUrlBase }}zino-ui/1.5/zino.combobox.min.js"></script>

<script type="text/javascript">
$(function () {
    var ds = zino.DataSource({
        data:  [ {{.EmpRowsDDL}} ],
        fields: ["name"]
    });
    $("#combo").zinoCombobox({
        dataSource: ds,
        multiple: true,
        autocomplete: true
    });
});
</script>

{{end}}
