{{template "header" .}}
{{template "header-end" .}}

<div style="margin-top: 10px; font-size: .8em;">
<a href="/">Home</a> | <a href="logout">Logout</a>
</div>

<p>
    {{.BodyTitle}}<br />
    Logged in: {{.LoggedIn}}<br />
    User ID: {{.UserId}}
</p>

<div>
	{{if .UserProfileMatchFound}}
		<div style="font-size: 1em; font-weight: bold;">User Profile:</div>
		<div>
			<span style="font-size: .9em; font-weight: bold;">Name: </span>
			<span>{{ .Lname }}, {{ .Fname }} {{ .MI }}<span>
		</div>
		<div>
			<span style="font-size: .9em; font-weight: bold;">Company: </span>
			<span>{{ .Company }}<span>
		</div>
		<div>
			<span style="font-size: .9em; font-weight: bold;">Title: </span>
			<span>{{ .Title }}<span>
		</div>
	{{end}}
	{{if not .UserProfileMatchFound}}
		<div>User Profile not found :/</div>
	{{end}}
</div>

<div style="font-size: 1.05em; font-weight: bold; margin-top: 20px;">Your Employees:</div>

<table border="1" cellpadding="2" cellspacing="0">
	<tr style="background-color: #e0e0e0; font-weight: bold;">
		<td>ID</td>
		<td>Last Name</td>
		<td>First Name</td>
		<td>M.I.</td>
		<td>Title</td>
		<td>Dept</td>
		<td>Team</td>
		<td>Hire Date</td>
	</tr>
	{{range .EmpRows}}
	<tr>
		<td>{{.Id}}</td>
		<td>{{.Lname}}</td>
		<td>{{.Fname}}</td>
		<td>{{.Mi}}</td>
		<td>{{.Title}}</td>
		<td>{{.Dept}}</td>
		<td>{{.Team}}</td>
		<td>{{.Hire_date}}</td>
	</tr>
	{{end}}
</table>

<p>
	<a href="add-employee">Add an employee</a>
</p>

{{template "footer" .}}
