{{template "header" .}}

<div style="margin-top: 10px; font-size: .8em;">
<a href="/">Home</a> | <a href="logout">Logout</a>
</div>

<p>
    {{.BodyTitle}}<br />
    Logged in: {{.LoggedIn}}<br />
    User ID: {{.UserId}}
</p>

<div>
	{{if .UserProfileMatchFound}}
		<div style="font-size: 1em; font-weight: bold;">User Profile:</div>
		<div>
			<span style="font-size: .9em; font-weight: bold;">Name: </span>
			<span>{{ .Lname }}, {{ .Fname }} {{ .MI }}<span>
		</div>
		<div>
			<span style="font-size: .9em; font-weight: bold;">Company: </span>
			<span>{{ .Company }}<span>
		</div>
		<div>
			<span style="font-size: .9em; font-weight: bold;">Title: </span>
			<span>{{ .Title }}<span>
		</div>
	{{end}}
	{{if not .UserProfileMatchFound}}
		<div>User Profile not found :/</div>
	{{end}}
</div>

{{template "footer" .}}
