{{template "header" .}}
{{template "welcome-header-inject" .}}
{{template "add-employee-header-inject" .}}
{{template "header-end" .}}

<div style="margin-top: 10px; font-size: .8em;">
<a href="/">Home</a> | <a href="logout">Logout</a>
</div>

<p>
    {{.BodyTitle}}<br />
    Logged in: {{.LoggedIn}}<br />
    User ID: {{.UserId}}
</p>

<div>
	{{if .UserProfileMatchFound}}
		<div style="font-size: 1em; font-weight: bold;">User Profile:</div>
		<div>
			<span style="font-size: .9em; font-weight: bold;">Name: </span>
			<span>{{ .Lname }}, {{ .Fname }} {{ .MI }}<span>
		</div>
		<div>
			<span style="font-size: .9em; font-weight: bold;">Company: </span>
			<span>{{ .Company }}<span>
		</div>
		<div>
			<span style="font-size: .9em; font-weight: bold;">Title: </span>
			<span>{{ .Title }}<span>
		</div>
	{{end}}
	{{if not .UserProfileMatchFound}}
		<div>User Profile not found :/</div>
	{{end}}
</div>

<!-- <div id="user_msg" style="padding-top: 15px; font-style: italic; color: green;">{{.UserMsg}}</div> -->

<div style="font-size: 1em; font-weight: bold; margin-top: 20px;">Your Employees:</div>

<form id="frm_emps" name="frm_emps" action="/welcome" method="post">
<table width="800" border="1" cellpadding="2" cellspacing="0">
	<tr style="background-color: #e0e0e0;">
		<td>
			<a href="welcome?sb=0&ob={{.NewEmpListOrderBy}}" class="col_head_link">ID</a>
			<span class="arrow">{{ .EmpListArrow_id }}</span>
		</td>
		<td>
			<a href="welcome?sb=1&ob={{.NewEmpListOrderBy}}" class="col_head_link">Last Name</a>
			<span class="arrow">{{ .EmpListArrow_lname }}</span>
		</td>
		<td>
			<a href="welcome?sb=2&ob={{.NewEmpListOrderBy}}" class="col_head_link">First Name</a>
			<span class="arrow">{{ .EmpListArrow_fname }}</span>
		</td>
		<td>
			<a href="welcome?sb=3&ob={{.NewEmpListOrderBy}}" class="col_head_link">M.I.</a>
			<span class="arrow">{{ .EmpListArrow_mi }}</span>
		</td>
		<td>
			<a href="welcome?sb=4&ob={{.NewEmpListOrderBy}}" class="col_head_link">Title</a>
			<span class="arrow">{{ .EmpListArrow_title }}</span>
		</td>
		<td>
			<a href="welcome?sb=5&ob={{.NewEmpListOrderBy}}" class="col_head_link">Dept</a>
			<span class="arrow">{{ .EmpListArrow_dept }}</span>
		</td>
		<td>
			<a href="welcome?sb=6&ob={{.NewEmpListOrderBy}}" class="col_head_link">Team</a>
			<span class="arrow">{{ .EmpListArrow_team }}</span>
		</td>
		<td>
			<a href="welcome?sb=7&ob={{.NewEmpListOrderBy}}" class="col_head_link">Hire Date</a>
			<span class="arrow">{{ .EmpListArrow_hire_date }}</span>
		</td>
		<td align="center">
			<span class="col_head_link" style="font-size: .9em; color: red;">Delete</span>
		</td>
	</tr>

	{{range .EmpRows}}
	<tr style="font-size: .8em;">
		<td>{{.Id}}</td>
		<td>{{.Lname}}</td>
		<td>{{.Fname}}</td>
		<td>{{.Mi}}</td>
		<td>{{.Title}}</td>
		<td>{{.Dept}}</td>
		<td>{{.Team}}</td>
		<td style="text-align: right;">{{.Hire_date}}</td>
		<td style="text-align: center;"><input type="checkbox" id="del_{{.Id}}" name="del_{{.Id}}"></td>
	</tr>
	{{end}}
</table>
</form>

<table width="800" border="0" cellpadding="2" cellspacing="0" style="margin-top: 5px;">
	<tr>
		<td align="left">
			<input type="button" id="btn_add_employee" value="Add an employee" />
		</td>
		<td>
			<span id="user_msg" 
				style="padding-top: 15px; padding-left: 25px; font-size: .9em; font-style: italic;">{{.UserMsg}}</span>
				
		</td>
		<td align="right">
			<input type="button" id="btn_delete" value="Delete"/>
		</td>
	</tr>
</table>

<!-- <p>
	<a href="add-employee">Add an employee</a>
</p> -->

<!-- <p>
	
</p> -->

<div id="add_emp_modal" title="Add an employee" style="display: none; z-index: 999;"></div>
<div id="del_conf_modal" title="Delete Employee(s)" 
	style="display: none">This will delete the selected employees.<br />Are you sure you want to do this?</div>

{{template "footer" .}}
